node_modules
backend/dist
.env

# Editor directories and files
.cursorrules
.vscode/*
.claude/*
.doc/superpowers
docs/superpowers

# Compiled binary
longhabit
longhabit*.exe

# Database
db

# Ignore NPM package-lock.json
package-lock.json