node_modules
backend/dist
.env

# Editor directories and files
.cursorrules
.vscode/*
.claude/*
docs/superpowers/
docs/users/
release/
CLAUDE.md


# Compiled binary
longhabit
longhabit*.exe
simple-data-center
tans-pim
simple-data-center.exe

# Database
db

# Ignore NPM package-lock.json
package-lock.json