node_modules
backend/dist
.env

# Editor directories and files
.cursorrules
.vscode/*
.claude/*
docs/superpowers/
docs/users/
release/
CLAUDE.md
server.log

# Compiled binary
longhabit
longhabit*.exe
simple-data-center
tans-pim

tans-pim
tans-pim*.exe

# Build output & server log
release/
server.log

# Database
db

# Ignore NPM package-lock.json
package-lock.json