<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html;" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{.title}}</title>
    {{ template "styles" . }}
  </head>
  <body>
    <div class="moz-text-html" lang="x-unicode">
      {{ block "content" . }} {{ end }}
    </div>
  </body>
</html>
