{{define "content"}}
<p>您好,</p>

<p>请查看以下需要完成的任务:</p>

<ul class="reminders">
  {{
    range.reminders
  }}
  <li>{{.}}</li>
  {{
    end
  }}
</ul>

<p>
  <a class="btn" href="{{.domain}}/tasks" target="_blank" rel="noopener"
    >打开任务</a
  >
</p>

<p>
  <i
    >您收到此邮件是因为您启用了邮件提醒。如需停止接收,请在账户设置中关闭邮件提醒。</i
  >
</p>

<p>
  谢谢,<br />
  Long Habit
</p>
{{ end }}
